
.textContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #FFFFFF;
    font-size: 250px;
    display: inline-block;
    line-height: 100%;
  }
}