
@import '../../variables.pcss';

.bitmap {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  perspective: 1000px;

  .pixelRow {
    flex: 1;
    display: -webkit-box; /* Why this works but 'flex' does not? */
    flex-direction: row;
  }
}